<% include ../partials/boilerplate %>
<% include ../partials/header.ejs %>

<main>


  <div id='welcome'>
    <div id="me"><span class="highlight">Who we are...</span><br/> We are<span class="highlight"> Into the Sweat.</span> We are obsessive about health, nutrition and beauty.</div>
  <a id='welcomea' href="/blogs/new">Add Your Post</a>
  </div>


  <ul>
  <% for (let entry of blog) { %>
<li>
      <p> "<%= blog.title %>"</p>

      <a href='/blogs/<%= blog.id%>'>Read more!</a>
    </li>
  <% } %>
  </ul>





  <% include ../partials/footer %>

  </main>
</body>
</html>
