<% include ../partials/boilerplate %>
<% include ../partials/header.ejs %>

<p> Browse Beauty News </p>


<main>

<div class="list">


    <% for (let blogs of blog) { %>
    <div class='blog_snippet'>
    <br>
    <img id="my_img" src="<%= blogs.img %>" alt="blog_img">
      <p> <%= blogs.title %></p>
      <br>
      <a href='/blogs/<%= blogs.id%>'>Read More!</a>
    </div>
  <% } %>

  </div>





  <% include ../partials/footer %>

  </main>
</body>
</html>
