<% include ../partials/boilerplate %>
<% include ../partials/header.ejs %>

<main>


  <div id='welcome'>
    <div id="me"><span class="highlight">Who we are...</span><br/> We are<span class="highlight"> Into the Sweat.</span> We are obsessive about health, nutrition and beauty.</div>
  <a id='welcomea' href="/blogs/new">Add Your Post</a>
  </div>




    <% for (let blogs of blog) { %>
    <div class='blog_snippet'>
    <br>
    <img id="my_img" src="<%= blogs.img %>" alt="blog_img">
      <p> "<%= blogs.title %>"</p>
      <br>
      <a href='/blogs/<%= blogs.id%>'>Read More!</a>
    </div>
  <% } %>





  <% include ../partials/footer %>

  </main>
</body>
</html>
