<% include ../partials/boilerplate %>
<% include ../partials/header.ejs %>

<div class="fitness">

<p id="fitness-title">SWEAT</p>


<main>

<div class="list">

    <% for (let blogs of blog) { %>
    <div class='blog_snippet'>
    <br>
    <img id="my_img" src="<%= blogs.img %>" alt="blog_img">
      <p class="blog-title"> <%= blogs.title %></p>
      <p class="blog-subtitle"> <%= blogs.category %>
      <a  class="line" href='/blogs/<%= blogs.id%>'>| READ MORE></a></p>
    <hr class="small-hr">
    </div>
  <% } %>
  </div>
  </div>






  <% include ../partials/footer %>

  </main>
</body>
</html>

