    <footer>
    <hr class="big-hr">
    <div class="list-container">
    <p><span class="title-spans"> THE<b> GOOD</b> SWEAT </span> <span class="footer-spans">About</span>  <span class="footer-spans">Contact</span> <span class="footer-spans">Subscribe</span> </p>
    </div>
    <div class="icons-container">
      <a href="https://www.instagram.com/_thegoodsweat_/">
     <img class="icons" src="https://i.imgur.com/TxUvsbT.png"/>
     </a>

     <a href="https://twitter.com/thegoodsweat">
     <img class="icons" src="https://i.imgur.com/dh64E2x.png"/>
     </a>
     <a href="mailto:sarahlund@sclund.com">
     <img class="icons" src="https://i.imgur.com/ltY8EJA.png"/>
     </a>
     </div>
</footer>
