    <footer>
    <hr class="big-hr">
    <div class="list-container">
    <p><span class="title-spans"><a href="/blogs/about"> THE<b> GOOD</b> SWEAT</a></span>
    <span class="footer-spans"><a href="/blogs/about">About</a></span>
    <span class="footer-spans"><a href="/blogs/contact">Contact</a></span>
    <span class="footer-spans"><a href="/blogs/subscribe">Subscribe</a></span> </p>
    </div>
    <div class="icons-container">
      <a target="_blank" href="https://www.instagram.com/_thegoodsweat_/">
     <img class="icons" src="https://i.imgur.com/TxUvsbT.png"/>
     </a>
     <a target="_blank" href="https://twitter.com/thegoodsweat">
     <img class="icons" src="https://i.imgur.com/dh64E2x.png"/>
     </a>
     <a href="mailto:sarahlund@sclund.com">
     <img class="icons" src="https://i.imgur.com/ltY8EJA.png"/>
     </a>
     </div>
</footer>
