        <header>

      <p id='title'>The Good Sweat</p>
        <nav>



    <ul>

        <li class="line"><a href="/blogs/beauty">Beauty</a></li>
        <li class="line"><a href="/blogs/health">Health</a></li>
        <li class="line"><a href="/blogs/fitness">Sweat</a></li>
        <li class="line"><a href="/blogs/">Main</a></li>



       </ul>
      </div>
    </div>
    </nav>
  <hr class="header-hr">
  </header>

