        <header>

      <p id='title'>The Good Sweat</p>
        <nav>


       <div class="dropdown">
  <span id="menu"><img class="menu" alt="menu" src="https://i.imgur.com/vplnTEw.png"/></span>
  <div class="dropdown-content">
    <ul>

        <li class="line"><a href='/blogs/beauty'>Beauty</a></li>
        <li class="line"><a href="/blogs/health">Health</a></li>
        <li class="line"><a href="/blogs/sweat">Sweat</a></li>
        <li class="line"><a href="/blogs/">Main</a></li>



       </ul>
  </div>
</div>
 </nav>
      </header>
