        <header>

      <p id='title'>The Good Sweat</p>
        <nav>


       <div class="dropdown">
  <span id="menu"><img class="menu" alt="menu" src="https://i.imgur.com/6jggiCc.png"/></span>
  <div class="dropdown-content">
    <ul>
         <li><a href="/beauty">Beauty</a></li>
         <li><a href="/sweat">Sweat</a></li>
         <li><a href="/health">Health</a></li>
         <li><a href="/">About</a></li>


       </ul>
  </div>
</div>
 </nav>
      </header>
